.App {
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 40px; 
}

table, td, th {
  border: 1px solid #333;
}

th {
  background: rgb(70, 141, 255);
  color: #fff;
  padding: 3px;
}

form {
  margin: 20px;
}

input, form button {
  font-size: 18px;
  margin: 5px;
  padding: 4px;
}

